<a href="https://colab.research.google.com/github/vibhavgowda/case1/blob/master/Copy_of_Module_3_4_Tuples_v0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TUPLES IN PYTHON

<a id="ref0"></a>
<center><h2>About the Dataset</h2></center>


## Table of Contents


<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="#ref0">About the Dataset</a></li>
<li><a href="#ref1">Tuples</a></li>
<li><a href="#ref2">Quiz on Tuples</a></li>

<p></p>
Estimated Time Needed: <strong>15 min</strong>
</div>

<hr>

Imagine you received album recommendations from your friends and compiled all of the recomendations into a table, with specific information about each album.

The table has one row for each movie and several columns:

- **artist** - Name of the artist
- **album** - Name of the album
- **released_year** - Year the album was released
- **length_min_sec** - Length of the album (hours,minutes,seconds)
- **genre** - Genre of the album
- **music_recording_sales_millions** - Music recording sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/)
- **claimed_sales_millions** - Album's claimed sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/)
- **date_released** - Date on which the album was released
- **soundtrack** - Indicates if the album is the movie soundtrack (Y) or (N)
- **rating_of_friends** - Indicates the rating from your friends from 1 to 10
<br>
<br>

The dataset can be seen below:

<font size="1">
<table font-size:xx-small style="width:25%">
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<hr>

<a id="ref1"></a>
<center><h2>Tuples</h2></center>

In Python, there are different data types: string, integer and float. These data types can all be contained in a tuple as follows:

<img src = "https://ibm.box.com/shared/static/t2jw5ia78ulp8twr71j6q7055hykz10c.png" width = 750, align = "center"></a>

In [0]:
tuple1=("disco",10,1.2 )
tuple1

The type of variable is a **tuple**.

In [0]:
 type(tuple1)

 Each element of a tuple can be accessed via an index. The following table represents the relationship between the index and the items in the tuple. Each element can be obtained by the name of the tuple followed by a square bracket with the index number:

<img src = "https://ibm.box.com/shared/static/83kpang0opwen5e5gbwck6ktqw7btwoe.gif" width = 750, align = "center"></a>

We can print out each value in the tuple:

In [0]:
print( tuple1[0])
print( tuple1[1])
print( tuple1[2])

We can print out the **type** of each value in the tuple:

In [0]:
print( type(tuple1[0]))
print( type(tuple1[1]))
print( type(tuple1[2]))

We can also use negative indexing. We use the same table above with corresponding negative values:

 <img src = "https://ibm.box.com/shared/static/uwlfzo367bekwg0p5s5odxlz7vhpojyj.png" width = 750, align = "center"></a>

We can obtain the last element as follows (this time we will not use the print statement to display the values):

In [0]:
tuple1[-1]

We can display the next two elements as follows:

In [0]:
tuple1[-2]

In [0]:
tuple1[-3]

We can concatenate or combine tuples by using the **+** sign:

In [0]:
tuple2=tuple1+("hard rock", 10)
tuple2

We can slice tuples obtaining multiple values as demonstrated by the figure below:

<img src = "https://ibm.box.com/shared/static/s9nofy728bcnsgnx3vh159bu16w7frnc.gif" width = 750, align = "center"></a>

We can slice tuples, obtaining new tuples with the corresponding elements:

In [0]:
tuple2[0:3]

We can obtain the last two elements of the tuple:

In [0]:
tuple2[3:5]

We can obtain the length of a tuple using the length command:

In [0]:
len(tuple2)

This figure shows the number of elements:


<img src = "https://ibm.box.com/shared/static/apxe8l3w42f597yjhizg305merlm4ijf.png" width = 750, align = "center"></a>

 Consider the following tuple:

In [0]:
Ratings  =(0,9,6,5,10,8,9,6,2)

 We can assign the tuple to a 2nd variable:

In [0]:
Ratings1=Ratings
Ratings

We can sort the values in a tuple and save it to a new tuple:

In [0]:
RatingsSorted=sorted(Ratings )
RatingsSorted

A tuple can contain another tuple as well as other more complex data types.  This process is called 'nesting'. Consider the following tuple with several elements:

In [0]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

Each element in the tuple including other tuples can be obtained via an index as shown in the figure:

<img src = "https://ibm.box.com/shared/static/estqe2bczv5weocc4ag4mx9dtqy952fp.png" width = 750, align = "center"></a>

In [0]:
print("Element 0 of Tuple: ",   NestedT[0])
print("Element 1 of Tuple: ",  NestedT[1])
print("Element 2 of Tuple: ",  NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

We can use the second index to access other tuples as demonstrated in the figure:

<img src = "https://ibm.box.com/shared/static/j1orgjuasaaj3d0feymedrnoqv8trqyo.png" width = 750, align = "center"></a>

 We can access the nested tuples :

In [0]:
print("Element 2,0 of Tuple: ",   NestedT[2][0])
print("Element 2,1 of Tuple: ",   NestedT[2][1])
print("Element 3,0 of Tuple: ",   NestedT[3][0])
print("Element 3,1 of Tuple: ",   NestedT[3][1])
print("Element 4,0 of Tuple: ",   NestedT[4][0])
print("Element 4,1 of Tuple: ",   NestedT[4][1])

We can access strings in the second nested tuples using a third index:

In [0]:
NestedT[2][1][0]

In [0]:
 NestedT[2][1][1]

In [0]:
NestedT[4][1][0]

In [0]:
NestedT[4][1][1]

 <a id="ref2"></a>
<h2 align=center> Quiz on Tuples </h2>

Consider the following tuple:

In [2]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

#### Find the length of the tuple, "genres_tuple":

In [4]:
len(genres_tuple)

8

#### Access the element, with respect to index 3:

In [5]:
print(genres_tuple[3])

hard rock

####   Use slicing to obtain indexes 3, 4 and 5:

In [7]:
print(genres_tuple[3:6])

('hard rock', 'soft rock', 'R&B')

#### Find the first two elements of the tuple "genres_tuple":

In [8]:
print(genres_tuple[0:2])

('pop', 'rock')

#### Find the first index of 'disco':

In [10]:
print(genres_tuple.index("disco"))

7

####  Generate a sorted List from the Tuple C_tuple=(-5,1,-3):